
<div class = "container-1">
  <div class="nav-menu" style = "display: inline-block;;">
    <div class = "nav-font">Connector</div>
    <button type = "button" class="top-buttons" (click)="navigateByURL('/login')">Login</button>
    <button type= "button" class = "top-buttons" (click)="navigateByURL('/register')">SignUp</button>

    </div>

  <div class ="details">
    <h1>Developer Connector</h1>
    <h4>Create a developer profile/portfolio, share posts and get help from other developers</h4>
    <button class = "main-buttons login" (click)="navigateByURL('/login')">Login</button>
    <button class = "main-buttons register"(click)="navigateByURL('/register')">SignUp</button>
  </div>
